body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

section {
    padding: 40px 0;
}

h2 {
    color: #ffd700;
}

.join-btn a {
    background-color: #ffd700;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.join-btn a:hover {
    background-color: #333;
    color: #ffd700;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
